.values {
    background-color: wheat;
    margin: 30px;
    text-align: center;
    font-size: 2em;
    box-shadow: 0 0 30px #27355C;
}
.values > a > h1 {
    background-color: #27355C;
    text-align: center;
    margin: 0;
    color:  #FF8401;
    font-family: 'Staatliches', cursive;
}
.values > a {
    text-decoration: none;
}
.values > a > h1:hover {
    background-color: #FF8401;
    color:  #27355C;
}
.values > p {
    font-family:'Philosopher', sans-serif;
}