#content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#contact-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
    box-shadow: 0 0 30px #27355C;
    background-color: wheat;
    background-color:  #27355C;
}
#contact-info {
    color:  #FF8401;
    font-family: 'Staatliches', cursive;
    text-align: start;
}
#contact-info > h1 {
    color:  #FF8401;
    font-family: 'Staatliches', cursive;
    text-align: center;
}
#donation {

    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #3455a0;
    box-shadow: 0 0 30px #3455a0;
    border-radius: 5px;
    padding: 20px;
}

#donation > a {
    color:  #FF8401;
    font-size: 80px;
    font-family: 'Staatliches', cursive;
    text-decoration: none;
}
#donation :hover {
    padding: 5px
}
#donation :active {
    color:  #3455a0;
    background-color: #FF8401;
    box-shadow: 0 0 30px #FF8401;
}
@media(max-width: 650px) {
    #content > img {
        height: 200px;
    }
    #contact-box{
        flex-direction: column;
    }
    #donation > a {
        font-size: 40px;
    }
}