#main-root {
    display: flex;
    flex-direction: row;
}
#main-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
#side-content {
    margin: 5px;
    margin-right: 20px;
    background-color:wheat;
    flex-grow: 1;
    box-shadow: 0 0 30px #27355C;
    font-family:'Philosopher', sans-serif;
    font-weight: bold;
    justify-content: start;
    text-align: start;
}
#side-content-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#side-content-header > img {
    width: 200px;
    margin: 20px;
    box-shadow: 0 0 30px #27355C;
}
#side-content > p {
    padding: 10px;

}
#slideshow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
}
#side-name {
    font-size: 20px;
    font-family: 'Mate SC', serif;
}

.slide {
    margin: 0;
    box-shadow: 0 0 30px #27355C;
}
.slide > img {
    max-height: 500px;
    max-width: 500px;
    height: 100%;
    width: 100%;
}
#events{
    margin: 20px;
    background-color: wheat;
    flex-grow: 1;
    box-shadow: 0 0 30px #27355C;
    text-align: center;
    font-family: 'Staatliches', cursive;
}

#event-list {
    font-family: 'Staatliches', cursive;
}

#event-list > li{
    text-align: initial;
    margin: 10px;
}

@media(max-width: 560px) {
    #side-content {
        margin: 5px;
    }
    #main-root {
        flex-direction: column;
    }
    .slide > img {
        max-width: 200px;
    }
    #side-content-header > img {
        max-width: 150px;
    }
}

