#content{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.info-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: wheat;
    margin: 5%;
    width: 75%;
    text-align: center;
    box-shadow: 0 0 30px #27355C;
}
.info-box > h1 {
    background-color:  #27355C;
    color:  #FF8401;
    font-family: 'Staatliches', cursive;
    font-size: 50px;
    margin: 0;
    padding: 5px;
}
.info-box > p {
    padding: 10px;
    font-size: 25px;
}

.info-box > p > a {
    text-decoration: none;
    color: #27355C;
    font-weight: bold;
}
.info-box > p > a:hover {
    color: #FF8401;
}
.orgs {
    text-align: start;
    font-size: 25px;
    padding-bottom: 10%;
}
.orgs > a {
    text-decoration: none;
    color: #27355C;
    font-weight: bold;
}
.orgs > a:hover {
    color: #FF8401;
}

main > img {
    box-shadow: 0 0 30px #27355C;
    margin-left: 20%;
    margin-right: 20%;
}

#contact-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5%;
    box-shadow: 0 0 30px #27355C;
    background-color: wheat;
    background-color:  #27355C;
}
#contact-info {
    color:  #FF8401;
    font-family: 'Staatliches', cursive;
    text-align: start;
}
#contact-info > h1 {
    color:  #FF8401;
    font-family: 'Staatliches', cursive;
    text-align: center;
}
#donation {
    margin: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #3455a0;
    box-shadow: 0 0 30px #3455a0;
    border-radius: 5px;
    padding: 20px;
}

#donation > a {
    color:  #FF8401;
    font-size: 80px;
    font-family: 'Staatliches', cursive;
    text-decoration: none;
}
#donation :hover {
    animation-name: button-changer;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    padding: 5px
}
#donation :active {
    color:  #3455a0;
    background-color: #FF8401;
    box-shadow: 0 0 30px #FF8401;
}

@keyframes button-changer {
    0% {
        color:  #3455a0;
        background-color: #FF8401;
        box-shadow: 0 0 30px #FF8401;
    }
    50% {    
        color:  #FF8401;
        background-color: #3455a0;
        box-shadow: 0 0 30px #3455a0;
    }
    100% {    
        color:  #3455a0;
        background-color: #FF8401;
        box-shadow: 0 0 30px #FF8401;
    }
}

@media(max-width: 650px) {
    #content{
        flex-direction: column;
    }
    main > img {
        max-width: 350px;
        padding: 0;
    }
    #contact-box{
        flex-direction: column;
    }
    .info-box{
        align-self: center;
    }
}