@import url("https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mate+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo&family=Philosopher&display=swap");
body {
    height: 100vh;
    margin: 0;

}
#root {
    display: flex;
    flex-direction: column;
}
.logo {
    height: 20px;
}
header{
    display: flex;
    flex-direction: row;
    position: fixed;
    left: 0;
    right: 0;
    background-color:#27355C;
    box-shadow: 0 0 30px #27355C;
    justify-content: center;
}
header > p {
    font-size: 1.5em;
    color: #FF8401;
    font-family: 'Mate SC', serif;
}
.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.nav-link {
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    color: #FF8401;
}
li > a {
    text-decoration: none;
    color:  #FF8401;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Staatliches', cursive;
}
li > a:hover {
    text-decoration: none;
    color:  #FF8401;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 0 30px #27355C;
    font-size: large;
}
main{
    padding-top: 60px;
    background-color:#5E80DC;
    flex-grow: 10;
    display: flex;
    flex-direction: column;
}
footer {
    background-color: #27355C;
}

#main-root {
    display: flex;
    flex-direction: row;
    background-color: #5E80DC;
}
#main-content {
    display: flex;
    flex-direction: column;
    background-color:#5E80DC;
    box-shadow: 0 0 30px #27355C;
    flex-grow: 1;
    background-image: url("Images/kap2018.JPG");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}
#side-content {
    margin: 5px;
    background-color:#D1E8EB;
    flex-grow: 1;
    box-shadow: 0 0 30px #27355C;
    font-family:'Philosopher', sans-serif;
    font-weight: bold;
    justify-content: center;
}
#side-content-header {
    display: flex;
    flex-direction: row;
}
#side-content-header > img {
    width: 200px;
    margin: 20px;
    box-shadow: 0 0 30px #27355C;
}
#side-content > p {
    padding: 10px;

}
#slideshow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
}

.slide {
    margin: 0;
    box-shadow: 0 0 30px #27355C;
}
.slide > img {
    height: 500px;
    width: 500px;
}
#site-layout {
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
}
.site-layout > a {
    text-decoration: none;
}
.site-layout-preveiw {
    text-align: center;
    background-color: #D1E8EB;
    height: 100vh;
    width: 30vh;
    box-shadow: 0 0 30px #27355C;
}
.site-layout-preveiw > h1{
    background-color:  #27355C;
    color:  #FF8401;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Staatliches', cursive;
    box-shadow: 0 0 30px #27355C;
}
.site-layout-preveiw:hover {
    height: 101vh;
    width: 310px;
}
#about {
    background-image: url("Images/kdrCrest.png");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}
#rush {
    background-image: url("Images/rush.JPG");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

#philo {
    background-image: url("Images/philo.JPG");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

#scholar {
    background-image: url("Images/scholar.JPG");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

#alum {
    background-image: url("Images/alum.JPG");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

#events{
    margin: 20px;
    background-color: #D1E8EB;
    flex-grow: 1;
    box-shadow: 0 0 30px #27355C;
    text-align: center;
    font-family: 'Staatliches', cursive;
}

#event-list {
    font-family: 'Staatliches', cursive;
}

#event-list > li{
    text-align: initial;
    margin: 10px;
}

footer {
    box-shadow: 0 0 30px #27355C;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer > div > h1 {
    text-align: center;
    margin-right: 10px;
    padding: 0;
    color:  #FF8401;
    font-family: 'Staatliches', cursive;
}
footer > div > p {
    margin-right: 10px;
    text-align: center;
    padding: 0;
    color:  #FF8401;
    font-family: 'Staatliches', cursive;
}



